accelerate
acres
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
ascii_colors
attrs
bcrypt
beautifulsoup4
blis
catalogue
certifi
cffi
charset-normalizer
ci-info
click
cloudpathlib
colorama
colorlog
confection
configobj
configparser
cryptography
cymem
defusedxml
detect-installer
dill
distro
dnspython
docling
docling-core
docling-ibm-models
docling-parse
docling-slim
ecdsa
email-validator
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile
etelemetry
Faker
fastapi
fastapi-cloud-cli
fastar
filelock
filetype
flatbuffers
frozenlist
fsspec
google-api-core
google-auth
google-genai
googleapis-common-protos
greenlet
gunicorn
h11
hf-xet
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface_hub
idna
Jinja2
jiter
joblib
json_repair
jsonlines
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-specifications
langchain-classic
langchain-community
langchain-core
langchain-experimental
langchain-protocol
langchain-text-splitters
langsmith
latex2mathml
lightrag-hku
looseversion
lxml
mail-parser
markdown-it-py
marko
MarkupSafe
mdurl
mpire
mpmath
multidict
multiprocess
murmurhash
nano-vectordb
narwhals
networkx
nibabel
nipype
numpy
ollama
omegaconf
onnxruntime
openai
opencv-python
openpyxl
orjson
packaging
pandas
pathlib
pdfminer.six
pdfplumber
pillow
pipdeptree
pipmaster
pluggy
polyfactory
preshed
propcache
proto-plus
protobuf
prov
psutil
puremagic
pyasn1
pyasn1_modules
pyclipper
pycparser
pycryptodome
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydot
Pygments
PyJWT
pylatexenc
PyMuPDF
pyparsing
pypdf
pypdfium2
pypinyin
python-dateutil
python-docx
python-dotenv
python-jose
python-multipart
python-pptx
pytz
pyxnat
PyYAML
rapidocr
rdflib
referencing
regex
requests
requests-toolbelt
rich
rich-toolkit
rignore
rpds-py
rsa
rtree
safetensors
scikit-learn
scipy
semchunk
sentencepiece
sentry-sdk
setuptools
shapely
shellingham
simplejson
six
smart_open
sniffio
soupsieve
SQLAlchemy
srsly
starlette
sympy
tabulate
tenacity
threadpoolctl
tiktoken
tokenizers
tools
torchvision
tqdm
traits
transformers
tree-sitter
tree-sitter-c
tree-sitter-javascript
tree-sitter-python
tree-sitter-typescript
typing-inspection
typing_extensions
tzdata
urllib3
uuid_utils
uvicorn
wasabi
watchfiles
wcwidth
weasel
websockets
wrapt
xlsxwriter
xxhash
yarl
zstandard
